{% extends 'base.html' %}

{% block title %}Edit Strand - Student Monitor{% endblock %}

{% block content %}
<div class="form-page-container">
    <h2>Edit Strand: {{ strand.name }} ({{ strand.grade_level.name }})</h2>
    <form method="POST" class="app-form">
        <div class="form-group">
            <label for="name">Strand Name:</label>
            <input type="text" id="name" name="name" value="{{ strand.name }}" required>
        </div>
        <div class="button-group-right">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save Changes</button>
            <a href="{{ url_for('grade_level_details', grade_level_id=strand.grade_level.id) }}" class="btn btn-secondary"><i class="fas fa-times-circle"></i> Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
